html, body { 
   margin: 0;
   padding: 0;
}

input, button {
   outline: none
}

.container {
   font-family: "Poppins", sans-serif;
   width: 100vw;
   height: 100vh;
   background: rgb(122,50,140);
   background: linear-gradient(144deg, rgba(122,50,140,1) 0%, rgba(6,18,37,1) 100%);

   display: flex;
   align-items: center;
   justify-content: center;
}

.container > form {
   position: relative;
   width: 350px;
   height: 350px;

   padding: 25px;

   /* background: #28292E; */
   background: #28292E;
   background: linear-gradient(144deg, #28292E 0%, #240e23 100%);
   border-radius: 16px;

 
   background: 
      linear-gradient(144deg, #28292E 0%, #240e23 100%) padding-box,
      linear-gradient(to bottom right, rgba(255,255,255,.4), transparent 70%) border-box;
   border: 2px solid transparent;

   padding: 0 25px;

   display: flex;
   justify-content: center;
   flex-direction: column;
   

   box-shadow: 0px -1px 72px 37px rgba(0,0,0,0.35);
   -webkit-box-shadow: 0px -1px 72px 37px rgba(0,0,0,0.35);
   -moz-box-shadow: 0px -1px 72px 37px rgba(0,0,0,0.35);
}

.container > form > .rooms {
   width: 100%;
   text-align: center;
   color: #fff;

   line-height: 36px;
   font-size: 14px;

   margin-bottom: 15px;
}

.container > form > .rooms > .room {
   padding: 4px 6px;
   border-radius: 4px;

   margin: 15px 2px;

   background-color: #474952;

   cursor: pointer;

   transition: all .2s ease-in-out;
   
} 

.container > form > .rooms > .room:hover {
   transform: scale(1.05);
   box-shadow: 0px 11px 20px 3px rgba(0,0,0,0.35);
   -webkit-box-shadow: 0px 11px 20px 3px rgba(0,0,0,0.35);
   -moz-box-shadow: 0px 11px 20px 3px rgba(0,0,0,0.35);
}

.container > form > input {
   max-width: 100%;
   height: 40px;
   border-radius: 30px;
   margin: 10px 0;

   background: #3b3d44;
   border: none;

   padding: 0 20px;

   color: #fff;
   font-size: 16px;

   transition: all .2s ease-in-out;
}

.container > form > input:focus {
   background-color: #474952;

   box-shadow: 0px 11px 30px 3px rgba(0,0,0,0.35);
   -webkit-box-shadow: 0px 11px 30px 3px rgba(0,0,0,0.35);
   -moz-box-shadow: 0px 11px 30px 3px rgba(0,0,0,0.35);
}

.container > form > button {
   margin-top: 25px;

   height: 44px;
   max-width: 100%;

   border-radius: 40px;
   border: none;

   background: rgb(161,50,189);
   background: linear-gradient(144deg, rgba(161,50,189,1) 0%, rgba(222,44,194,1) 100%);

   color: #fff;
   font-weight: bold;

   font-size: 14px;

   cursor: pointer;

   transition: .2s ease-in-out;
}

.container > form > button:hover {
   transform: scale(1.05);
   box-shadow: 0px 11px 40px 3px rgba(0,0,0,0.35);
   -webkit-box-shadow: 0px 11px 40px 3px rgba(0,0,0,0.35);
   -moz-box-shadow: 0px 11px 40px 3px rgba(0,0,0,0.35);
}